hr {
    background-image: linear-gradient(to right, #000000, #d3d3d3);
    border: none;
    height: 2px;
    margin-top: 79px;
}

.links a {
    position: absolute;
    color: #6da7ff;
    font-size: 20px;
    border-radius: 50%;
    margin-top: 43px;
    top: 36px;
}

.list {
    list-style-type: none;
}

.list a {
    color: #00b7ff;
    font-weight: bold;
    line-height: 35px;
    font-size: 20px;
    margin-left: 25px;
}

.list p {
    font-weight: bold;
    font-size: 25px;
}

.login-btn {
    border: none;
    outline: none;
    position: absolute;
    background-color: black;
    color: white;
    font-weight: bold;
    top: 70px;
    left: 400px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
}

.login-btn:active {
    background-color: gray;
}

.notice {
    width: 70%;
}

.notice p {
    font-weight: bold;
    line-height: 35px;
    font-size: 20px;
    margin-left: 60px;
}

.second-title {
    margin-left: 30px;
    margin-top: 30px;
    line-height: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: xx-large;
}

.text-frame {
    border-color: black;
    border-style: solid;
    border-width: 0 0 1.5px;
    margin-top: 30px;
}

.text-frame h1 {
    margin-left: 30px;
     margin-right: 30px; 
     margin-top: -10px;
}

.text-frame span {
    font-size: 40px;
}

.title img {
    margin-left: 140px;
    margin-bottom: -98px;
}

.translate {
    position: fixed;
    width: 30px;
    bottom: 10px;
    right: 10px;
}

.translate-btn {
    position: fixed;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    bottom: 6px;
    right: 6px;
    transition: background-color 0.1s;
}

.translate-btn:hover {
    background-color: rgba(211, 211, 211, 0.5);
}

.translate-btn:active {
    background-color: rgba(128, 128, 128, 0.5);
}

.translate {
    fill: currentColor;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} 